<section class="certificates">
  <h3 class="section-header">Certificados</h3>
  <ul class="certificate-list">
    {{#each certificates}}
      <li class="certificate-item">
      <a class="title" href="{{url}}">
        {{name}}
      </a>
      <div class="detail-row">
        <span class="issued-by">Expedido por: <strong>{{issuer}}</strong></span>
    </li>
    {{/each}}
  </ul>
</section>